# デフォルトの無視対象ファイル
/shelf/
/workspace.xml
# データソースのローカルストレージ用のため無視されるファイル
/../../../../:\MyLocalRepository\django-app\.idea/dataSources/
/dataSources.local.xml
# エディターベースの HTTP クライアントリクエスト
/httpRequests/
